// ----------------------
//
// Grid
//
// Content:
// - Core definition
// - Direction
// - Wrap
// - Align
// - Vertical Align
// ----------------------

@mixin container() {
  width: 90%;
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after{
    clear: both;
  }
}

@if $wire-markup == true {
  .#{$wire-namespace}container {
    @include container();
  }
}

[class*="col-"] {
  box-sizing: border-box;
  width: 100%;
}


// $Grid
// Core Grid
@mixin grid() {
  display: flex;
  flex-wrap: wrap;
}

[data-grid] {
  @include grid();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid {
    @include grid();
  }
}

// $Direction
// Row
@mixin grid-horizontal() {
  flex-direction: row;
}

[data-grid~="horizontal"] {
  @include grid-horizontal();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--horizontal {
    @include grid-horizontal();
  }
}

@mixin grid-horizontal-reverse() {
  flex-direction: row-reverse;
}

[data-grid~="horizontal-reverse"] {
  @include grid-horizontal-reverse();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--horizontal-reverse {
    @include grid-horizontal-reverse();
  }
}

@mixin grid-vertical() {
  flex-direction: column;
}

[data-grid~="vertical"] {
  @include grid-vertical();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--vertical {
    @include grid-vertical();
  }
}

@mixin grid-vertical-reverse() {
  flex-direction: column-reverse;
}

[data-grid~="vertical-reverse"] {
  @include grid-vertical-reverse();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--vertical-reverse {
    @include grid-vertical-reverse();
  }
}

// $Wrap
// Wrap
@mixin grid-wrap() {
  flex-wrap: wrap;
}

[data-grid~="wrap"] {
  @include grid-wrap();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--wrap {
    @include grid-wrap();
  }
}

// Wrap Reverse
@mixin grid-wrap-reverse() {
  flex-wrap: wrap-reverse;
}

[data-grid~="wrap-reverse"] {
  @include grid-wrap-reverse();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--wrap-reverse {
    @include grid-wrap-reverse();
  }
}

// Nowrap
@mixin grid-nowrap() {
  flex-wrap: nowrap;
}

[data-grid~="nowrap"] {
  @include grid-nowrap();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--nowrap {
    @include grid-nowrap();
  }
}

// $Align
// Left
@mixin grid-left() {
  justify-content: flex-start;
}

[data-grid~="left"] {
  @include grid-left();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--left {
    @include grid-left();
  }
}

// Right
@mixin grid-right() {
  justify-content: flex-end;
}

[data-grid~="right"] {
  @include grid-right();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--right {
    @include grid-right();
  }
}

// Center
@mixin grid-center() {
  justify-content: center;
}

[data-grid~="center"] {
  @include grid-center();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--center {
    @include grid-center();
  }
}

// Space Between
@mixin grid-between() {
  justify-content: space-between;
}

[data-grid~="space-between"] {
  @include grid-between();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--between {
    @include grid-between();
  }
}

// Space Around
@mixin grid-around() {
  justify-content: space-around;
}

[data-grid~="space-around"] {
  @include grid-around();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--around {
    @include grid-around();
  }
}

// $Vertical Align
// Top
@mixin grid-va-top() {
  align-items: flex-start;
}

[data-grid~="va-top"] {
  @include grid-va-top();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--va-top {
    @include grid-va-top();
  }
}

// Bottom
@mixin grid-va-bottom() {
  align-items: flex-end;
}

[data-grid~="va-bottom"] {
  @include grid-va-bottom();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--va-bottom {
    @include grid-va-bottom();
  }
}

// Center
@mixin grid-va-center() {
  align-items: center;
}

[data-grid~="va-center"] {
  @include grid-va-center();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--va-center {
    @include grid-va-center();
  }
}

// Baseline
@mixin grid-va-baseline() {
  align-content: baseline;
}

[data-grid~="va-baseline"] {
  @include grid-va-baseline();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--va-baseline {
    @include grid-va-baseline();
  }
}

// Stretch
@mixin grid-va-stretch() {
  align-content: stretch;
}

[data-grid~="va-stretch"] {
  @include grid-va-stretch();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--va-stretch {
    @include grid-va-stretch();
  }
}

// $Content Align
// Stretch
@mixin grid-ca-stretch() {
  align-content: stretch;
}

[data-grid~="ca-stretch"] {
  @include grid-ca-stretch();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-stretch {
    @include grid-ca-stretch();
  }
}

// Top
@mixin grid-ca-top() {
  align-content: flex-start;
}

[data-grid~="ca-top"] {
  @include grid-ca-top();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-top {
    @include grid-ca-top();
  }
}

// Bottom
@mixin grid-ca-bottom() {
  align-content: flex-end;
}

[data-grid~="ca-bottom"] {
  @include grid-ca-bottom();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-bottom {
    @include grid-ca-bottom();
  }
}

// Center
@mixin grid-ca-center() {
  align-content: center;
}

[data-grid~="ca-center"] {
  @include grid-ca-center();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-center {
    @include grid-ca-center();
  }
}

// Space Around
@mixin grid-ca-space-around() {
  align-content: space-around;
}

[data-grid~="ca-space-around"] {
  @include grid-ca-space-around();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-space-around {
    @include grid-ca-space-around();
  }
}

// Space Between
@mixin grid-ca-space-between() {
  align-content: space-between;
}

[data-grid~="ca-space-between"] {
  @include grid-ca-space-between();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--ca-space-between {
    @include grid-ca-space-between();
  }
}


// Helpers
@mixin grid-center-center() {
  justify-content: center;
  align-content: center;
  align-items: center;
}

[data-grid~="center-center"] {
  @include grid-center-center();
}
@if $wire-markup == true {
  .#{$wire-namespace}grid--center-center {
    @include grid-center-center();
  }
}

%pull-left {
    order: -100 !important;
}
@if $wire-markup == true {
    .pull-left {
        @extend %pull-left;
    }
}


%pull-right {
    order: 100 !important;
}
@if $wire-markup == true {
    .pull-right {
        @extend %pull-right;
    }
}

// Core Width
@for $col from 1 through ($wire-max-columns) {
  @mixin columns($col) {
    width: $col * 100% / $wire-max-columns;
  }
  %col-#{$col} {
    @include columns($col);
  }
  @if $wire-markup == true {
    .#{$wire-namespace}col-#{$col},
    [data-col~="#{$col}"] {
      @include columns($col);
      @include mq(phone) {
        width: 100%;
      }
    }
  }
}

@for $cols from 1 through ($wire-max-columns) {
  @each $breakpoint, $value in $wire-breakpoints {
    @include mq($breakpoint) {
      @if $wire-markup == true {
        .#{$wire-namespace}col-#{$breakpoint}-#{$cols},
        [data-col-#{$breakpoint}~="#{$cols}"] {
          padding-left: ($wire-base-gutter / 2);
          padding-right: ($wire-base-gutter / 2);
          width: $cols * 100% / $wire-max-columns;
        }
      }
    }
  }
}

@for $cols from 1 through ($wire-max-columns) {
  %col-offset-#{$cols} {
    margin-left: $cols * 100% / $wire-max-columns;
  }

  @if $wire-markup == true {
    .#{$wire-namespace}col-offset-#{$cols} {
      @extend %col-offset-#{$cols};
    }
  }
}