// ----------------------//// List//// ----------------------// ----------------------// Definition list// ----------------------dl {
	dt {
		font-weight: 700;
	}	dd {
		margin-left: 0;
	}	&.list--horizontal {
		@include grid();		dt {
			padding-right: 1em;
			text-align: left;
			width: 30%;
		}		dd {
			width: 70%;
		}
	}
}// ----------------------// List inline// ----------------------%list-inline {
	display: inline-block;
	padding: 0;	> li {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;		&:first-child {
			padding-left: 0;
		}		&:last-child {
			padding-right: 0;
		}
	}
}@if $wire-markup == true {
	.list--inline {
		@extend %list-inline;
	}
}// ----------------------// List unstyled// ----------------------%list-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
	ul {
		padding: 0;
	}	li {
		list-style: none;
	}
}@if $wire-markup == true {
	.list--unstyled {
		@extend %list-unstyled;
	}
}
