// ----------------------
//
// Base
//
// ----------------------
html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: rem(16);
	height: 100%;
	line-height: $wire-line-height-base;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
