// ----------------------
// Base
// ----------------------
@use "../_config.scss" as config;
@use "./helpers.scss" as helpers;

html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: helpers.rem(16);
	height: 100%;
	line-height: config.$wire-line-height-base;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
