@use "sass:math";
@use "../_config.scss" as config;
@use "./mixins.scss" as mixins;

// ----------------------
// Helpers
// ----------------------

// ----------------------
// REM Calculation
// rem(value, size)
// Size attribute is optional
// ----------------------
@function rem($value, $context: 10)  {
  $value: math.div($value, $context) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

// ----------------------
// EMs Calculation
// em(value, size)
// Size attribute is optional
// ----------------------
@function em($value, $context: $wire-font-size-base) {
  @return math.div($value, $context) * 1em;
}

// ----------------------
// Clearfix
// ----------------------
@mixin clearfix() {
  &:after,
  &:before{
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@if config.$wire-markup{
  .#{config.$wire-namespace}clearfix {
    @include clearfix();
  }
}

// ----------------------
// Text Align
// ----------------------
$align-positions: left, center, right;
@each $align-position in $align-positions{
  @if config.$wire-markup {
    .#{config.$wire-namespace}align-#{$align-position} {
      text-align: $align-position;
    }
  }
}

// ----------------------
// Hidden
// ----------------------
%hidden {
  display: none !important;
  visibility: hidden;
}

@if config.$wire-markup{
  .hidden {
    @extend %hidden;
  }
}

// ----------------------
// Invisible
// ----------------------
%invisible {
  visibility : hidden;
}

@if config.$wire-markup{
  .invisible {
    @extend %invisible;
  }
}

// ----------------------
// Show Elements on Device
// ----------------------
@each $breakpoint, $value in config.$wire-breakpoints {
  @include mixins.mq($breakpoint) {
    @if config.$wire-markup {
      .#{config.$wire-namespace}visible-#{$breakpoint} {
        display: block !important;
      }
    }
  }
}

// ----------------------
// Hide Elements on Device
// ----------------------
@each $breakpoint, $value in config.$wire-breakpoints {
  @include mixins.mq($breakpoint) {
    @if config.$wire-markup {
      .#{config.$wire-namespace}hidden-#{$breakpoint} {
        display: none !important;
      }
    }
  }
}

// ----------------------
// List Unstyled
// ----------------------
%list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}
