// ----------------------
//
// GRID
//
// ----------------------

%container {
    width: 100%;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after{
        clear: both;
    }
}

@if $markup == true{
    .#{$namespace}container {
        @extend %container;
    }
}


%grid{
    display: flex;
    flex-flow: row wrap;
}

@if $markup == true{
    .#{$namespace}grid {
        @extend %grid;
    }
}


%cols {
    padding-left: ($base-gutter / 2);
    padding-right: ($base-gutter / 2);
}

@for $cols from 1 through ($max-columns) {
    %col-#{$cols} {
        @extend %cols;
        width: $cols * 100% / $max-columns;
    }
    @if $markup == true{
        .#{$namespace}col-#{$cols} {
            @extend %col-#{$cols};
        }
    }
}

@for $cols from 1 through ($max-columns) {
    @each $breakpoint in $breakpoints {

        $alias:     nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        @include media-query($condition){
            @if $markup == true{
                .#{$namespace}col-#{$alias}-#{$cols} {
                    padding-left: ($base-gutter / 2);
                    padding-right: ($base-gutter / 2);
                    width: $cols * 100% / $max-columns;
                }
            }
        }

    }
}

@for $cols from 1 through ($max-columns) {
    %col-offset-#{$cols} {
        margin-left: $cols * 100% / $max-columns;
    }

    @if $markup == true {
        .#{$namespace}col-offset-#{$cols} {
            @extend %col-offset-#{$cols};
        }
    }
}


%pull-left {
    float: left !important;
}
@if $markup == true {
    .pull-left {
        @extend %pull-left;
    }
}


%pull-right {
    float: right !important;
}
@if $markup == true{
    .pull-right {
        @extend %pull-right;
    }
}
