// ----------------------
//
// VARIABLES
//
// ----------------------
// ----------------------
// Defaults Sizes
// ----------------------
$wire-font-size-base: 16 !default;
$wire-line-height-base: 1.45 !default;

$wire-border-radius: 3px !default;

// ----------------------
// Colors
// ----------------------
// ----------------------
// Brand Colors
// ----------------------
$wire-color-primary: #FFC843 !default;
$wire-color-secundary: #7C7C7C !default;
$wire-color-alt: #E0E0E0 !default;

$wire-button-bg: $wire-color-primary;
$wire-button-alt-bg: $wire-color-alt;
$wire-button-alt-color: $wire-color-secundary;

$wire-form-input-border: #E0E0E0 !default;
$wire-form-input-bg: #FFF !default;

// ----------------------
// Grid
// ----------------------
$wire-max-columns: 12 !default;
$wire-base-gutter: 2% !default;

// ----------------------
// Breakpoints
// ----------------------
$wire-breakpoints: (
  "phone"     :    "screen and (max-width: 44.95em)",
  "retina"    :    "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)",
  "tablet"    :    "screen and (min-width: 45em) and (max-width: 63.93em)",
  "desktop"   :    "screen and (min-width: 64em)",
  "desktopHD" :    "screen and (min-width: 75em)"
) !default;
