@if $wire-debug == true {
	/* ----------------------
//
// DEBUG
// Enable this to visually detect incorrect markup.
//
// ---------------------- */
	// ----------------------
	// Empty Elements
	// ----------------------
	:empty {
		outline: 5px solid yellow;
	}


	// ----------------------
	// Images
	// ----------------------
	img {
		outline: 5px solid red;
		&[alt] {
			outline: none;
		}
		&[alt=""] {
			outline: 5px solid yellow;
		}
	}


	// ----------------------
	// Links
	// ----------------------
	a {
		outline: 5px solid yellow;
		&[title] {
			outline: none;
		}
		&[href="#"],
		&[href*="javascript"] {
			outline: 5px solid yellow;
		}
		&[target] {
			outline: 5px solid yellow;
		}
	}


	// ----------------------
	// Lists
	// ----------------------
	ul,
	ol {
		> *:not(li) {
			outline: 5px solid red;
		}
	}


	// ----------------------
	// Tables
	// ----------------------
	th {
		outline: 5px solid yellow;
	}
	th[scope] {
		outline: none;
	}

	// Tfoot in correct order
	tbody + tfoot {
		outline: 5px solid yellow;
	}

	// Put tbody or thead
	table > tr {
		outline: 5px solid yellow;
	}


	// ----------------------
	// Forms
	// ----------------------
	form {
		outline: 5px solid red;
		&[action] {
			outline: none;
		}
	}


	// ----------------------
	// Form Fields
	// ----------------------
	textarea,
	input {
		outline: 5px solid red;
	}
	input[type] {
		outline: none;
	}
	textarea[rows][cols] {
		outline: none;
	}
	input[type=submit] {
		outline: 5px solid red;
	}
	input[type=submit][value] {
		outline: none;
	}


	// ----------------------
	// Remove inline styles if posible.
	// ----------------------
	[style] {
		outline: 5px solid yellow;
	}


	// ----------------------
	// No ID's for CSS
	// ----------------------
	[id] {
		outline: 5px solid yellow;
	}
}
